.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}

#timer {
    color: var(--text);
    font-size: 7em;
    margin-bottom: 20px;
    transition: 0.3s;
}

.instructions {
    font-size: 1.2em;
    color: var(--foreground);
}

#settings-btn {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
    color: var(--foreground);
    transition: 0.3s;
}

#settings-btn:hover {
    cursor: pointer;
    color: var(--text);
}