.title {
    color: var(--text);
    margin: 20px;
    font-weight: 700;
    font-size: 70px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    text-align: center;
}

#timer {
    color: var(--text);
    font-size: 7em;
    margin-bottom: 20px;
    transition: 0.3s;
}

.instructions {
    font-size: 1.2em;
    color: var(--foreground);
}