@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background: #202020;
    --nav-background: #1b1b1b;
    --darker-background: #0f0f0f;
    --text: #fff;
    --foreground: #bbbbbb;
    --darker-foreground: #797979;
}

* {
    font-family: "Nunito Sans", serif;
    background: var(--background);
    color: var(--foreground);
}

button {
    background: var(--nav-background);
    font-size: 18px;
    height: 50px;
    width: 100px;
    border: 0;
    border-radius: 10px;
    border: 2px solid var(--nav-background);
    transition: 0.3s;
}

button:hover {
    color: var(--text);
    border: 2px solid #2b2b2b;
}

/* The side navigation menu */
.opennav {
    color: var(--foreground);
    font-size: 30px;
    margin-left: 10px;
    transition: color 0.5s, opacity 0.5s;
}

.opennav:hover {
    color: var(--text);
    cursor: pointer;
}

.sidenav .opennav {
    color: var(--foreground);
    background-color: transparent;
    font-size: 30px;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 30px;
    transition: color 0.5s;
}

.sidenav .opennav:hover {
    color: var(--text);
    cursor: pointer;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: linear-gradient(to right, var(--nav-background) 20%, rgba(27, 27, 27, 0) 80%);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav img, .sidenav .image {
    margin-left: 10px;
    background-color: transparent;
    width: 100px;
    margin-bottom: 20px;
}
  
.sidenav a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    background-color: transparent;
    display: block;
    border-left: 0px solid rgba(255, 255, 255, 1);
    transition: color 0.3s, border 0.1s ease-out;
}
  
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    border-left: 5px solid var(--foreground);
    color: var(--text);
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hover-text {
    position: absolute;
    font-weight: 700;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    color: var(--text);
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    transform: translate(10%, 10%);
}

.sidenav .image:hover .hover-text {
    z-index: 2;
    display: block;
}

.sidenav h1 {
    color: var(--text);
    background-color: transparent;
    margin: -35px 0 20px 20px;
    padding: 0;
    font-weight: 700;
    text-decoration: underline var(--foreground) 2px;
    text-underline-offset: 5px;
}